<%
  body_offset = current_page.asset.respond_to?(:body_line_offset) ? current_page.asset.body_line_offset : 1
  error_line = @exception.line_number.to_i
  adjusted_line = error_line + body_offset - 1
  file_path = current_page.asset.path.to_s

  plain_text_error = <<~ERROR
#{@exception.class}: #{@exception.message}
File: #{file_path}:#{adjusted_line}

Source:
#{@exception.annotated_source_code.join("\n")}

Backtrace:
#{@exception.backtrace.first(15).join("\n")}
ERROR
-%>

<pre id="error-text" class="visually-hidden"><%= plain_text_error %></pre>

<div class="error-header">
  <div class="error-type"><%= @exception.class.name.split('::').last %></div>
  <h1 class="error-message"><%= @exception.message %></h1>

  <div class="source-section" id="source-section">
    <div class="source-section__header">
      <span class="source-section__title" id="source-title"><%= file_path %>:<%= adjusted_line %></span>
      <%= render "site/copy_button" %>
    </div>
    <div class="source-lines" id="source-lines"><% @exception.annotated_source_code.each do |line|
      if line =~ /^\s*(\d+):\s*(.*)$/
        line_num = $1.to_i
        code = $2
        is_error = (line_num == error_line)
      else
        line_num = nil
        code = line
        is_error = false
      end
    -%><div class="source-line<%= ' source-line--error' if is_error %>"><span class="source-line__num"><%= line_num %></span><span class="source-line__code"><%= code %></span></div>
<% end -%></div>
  </div>
</div>

<div class="error-content">
  <%= render "site/stack_trace", backtrace: @exception.backtrace %>
</div>
