<%
  file_path = current_page.asset.path.to_s

  plain_text_error = <<~ERROR
#{@exception.class}: #{@exception.message}
File: #{file_path}

Backtrace:
#{@exception.backtrace.first(15).join("\n")}
ERROR
-%>

<pre id="error-text" class="visually-hidden"><%= plain_text_error %></pre>

<div class="error-header">
  <div class="error-type"><%= @exception.class.name.split('::').last %></div>
  <h1 class="error-message"><%= @exception.message %></h1>

  <div class="source-section">
    <div class="source-section__header">
      <span class="source-section__title"><%= file_path %></span>
      <%= render "site/copy_button" %>
    </div>
  </div>
</div>

<div class="error-content">
  <%= render "site/stack_trace", backtrace: @exception.backtrace, clickable: false %>
</div>
