<h2><%= @exception.class %></h2>
<h3><%= @exception.message %></h3>

<p>This error typically occurs when there's invalid YAML in the frontmatter of a page.</p>

<h3>Common causes</h3>
<ul>
  <li>Missing closing <code>---</code> delimiter</li>
  <li>Invalid YAML syntax (bad indentation, missing quotes around special characters)</li>
  <li>Tabs instead of spaces for indentation</li>
  <li>Special characters that need quoting: <code>: { } [ ] , &amp; * # ? | - &lt; &gt; = ! % @ \</code></li>
</ul>

<h3>Backtrace</h3>
<code>
  <pre><%= @exception.backtrace.join("\n") %></pre>
</code>

<h3>Resources</h3>
<table>
  <thead>
    <th>Request path</th>
    <th>Asset path</th>
    <th>Media type</th>
  </thead>
  <tbody>
    <% site.resources.each do |resource| %>
      <tr>
        <td><%= link_to resource.request_path, resource.request_path %></td>
        <td><%= resource.asset.path %></td>
        <td><%= resource.asset.mime_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
